# Specific version requirements
# pip==21.3
numpy==1.23.1
pytorch_lightning
torchmetrics
omegaconf==2.1.0
shortuuid
chumpy
transformers==4.42.4
diffusers
einops
wandb
rich
matplotlib
scipy
pandas
peakutils
ptflops
python_igraph
pyvirtualdisplay
PyYAML
replicate
soundfile
termcolor
textgrid
tqdm
pyglet
bert_score
jiwer
ConfigArgParse
opencv_python
loguru

# Visualization dependencies
smplx==0.1.28
trimesh
joblib==1.2.0
h5py
scikit-image
spacy
ftfy
more-itertools
natsort
pyrender
moviepy
librosa
triangle
IPython
gdown
fasttext

